$primary-background: url(https://cms-assets.tutsplus.com/uploads/users/523/posts/27364/final_image/project-preview-large.png);
$widget-color: #F8F8FF;
$text-color: #2A231B;
$text-focus-color: #9B2725;
