/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: url(https://cms-assets.tutsplus.com/uploads/users/523/posts/27364/final_image/project-preview-large.png);
$widget-color: #F8F8FF;

body {
  background: $primary-background;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  align-items: center;
  background-color: $widget-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}
