@import 'variables';
@import 'media-queries';
@import 'mixins';

body {
  background: $primary-background;
  color: $text-color;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  @include displayStyle(flex, row, space-between)
  align-items: center;
  background-color: $widget-color;
  padding: 0px 10px 0px 10px;
}

hr {
  width: 90%;
  color: #CCCCCC;
}

ul,
ol {
  text-align: left;
}

ol li:last-child {
  border-bottom: none;
}

span {
  color: $text-focus-color;
}

.hidden {
  display: none!important
}
/*-----------Login Dashboard----------*/
.login-dashboard {
  @include displayStyle(flex, column, center)
  align-items: center;
  align-content: center;
  height: 100vh;
}

.login-container {
  @include widgetStyle(flex, column, 50vw)
  height: 50vh;
}

.login-container h2 {
  margin: 0;
  font-size: 3vw;
}

.login-field {
  margin: 20px 0 20px;
  width: 100%;
  text-align: left;
}

.login-form-label {
  padding-bottom: 10px;
}

#username-input,
#password-input {
  @include formFieldStyle()
  width: 250px;
}

/*-----------User Dashboards----------*/
.header-right {
  @include displayStyle(flex, column, space-around)
}

.logout-button {

}

.customer-dashboard,
.manager-dashboard {
  display: grid;
  grid-template-columns: 2fr 3fr;
  justify-content: center;
  align-content: center;
  height: 100vh;
  padding: 3%;
}

.customer-data,
.manager-data {
  @include displayStyle(flex, column, space-around)
  align-items: center;
  height: 90vh
}

.searchRooms-container,
.searchUsers-container {
  background-color: $widget-color;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
}

.searchRooms-form,
.searchUsers-form {
  @include displayStyle(flex, row, space-around)
  align-items: flex-end;
}

.searchRooms-form input,
.searchUsers-form input {
  display: inline-block;
  font-size: 1.2vw;
}

.data-widget h2 {
  font-size: 1.25vw;
}

.data-widget {
  @include widgetStyle(flex, column, 90%)
}

.widget-number {
  font-size: 3vw;
}

.widget-font {
  padding: 3px
}

/*-----------Customer Dashboard----------*/
#upcoming-bookings,
#past-bookings {
  display: flex;
  flex-direction: column;
  font-size: 1.25vw;
}

.bookings-list {
  @include listOfBookingsStyle(2%, 25vh)
  color: $text-focus-color;
  display: flex;
  justify-content: center;
  margin: 0;

  li {
    padding: 8px 16px;
    border: $border-style;
  }
}

.vacant-room-card,
.user-card {
  background-color: #E8E8EE;
  border-radius: 16px;
  border: $border-style;
  height: fit-content;
}

/*-----------Customer Dashboard----------*/
#select-date,
#select-roomType,
#select-user-by-name {
  @include formFieldStyle()
}

.searchRooms-button-container {
  @include displayStyle(flex, column, space-around)
  height: 110%;
}

.searchRoom-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3%;
  padding: 3%;
  margin: 0.25%;
  height: 75vh;
  overflow: scroll;
}
/*-----------Manager Dashboard----------*/
.searchUsers-results {
  margin: 5%;
  align-content: center;
  display: flex;
  justify-content: center;
}

#list-of-bookings {
  @include listOfBookingsStyle(0, 30vh)
  border: $border-style;
  width: 90%;

  li {
    @include displayStyle(flex, row, space-between)
    padding: 8px 16px;
    border-bottom: $border-style;
  }
}

.user-card {
  width: 90%
}

.booking-list-item {
  font-size: 1.5vw;
  text-align: left;
}

.add-booking-form {
  @include displayStyle(flex, column, space-around)
  margin: 5%;
}

.add-booking-form input {
  padding: 3%;
}

.choose-date-container,
.select-room-container {
  @include displayStyle(flex, row, space-between)
  align-items: center;
  padding: 2%;
}

.modify-booking-button-container {
  @include displayStyle(flex, row, space-around)
}
